
h2 {
font-size: 18px;
margin: 0;
font-weight: 900;
}

.loading h3 {
margin-top: 30px;
}

.outerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  gap: 30px;
  margin:auto;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thoughtForm {
  border: 1px solid black;
  background-color: rgb(227, 227, 227);
  margin: 30px 20px auto;
  padding: 20px;
  box-shadow: 7px 7px;
  width: 70%;
}

.formBtn{
  font-family: 'Noto Sans Mono', monospace;
  background-color: rgb(237, 164, 175);
  border: none;
  border-radius: 20px;
  padding: 10px;
}

.formBtn:hover {
  border: 1px solid lightgray;
  cursor: pointer;
}

.textArea {
  width: 90%;
  min-height: 50px;
  resize: horizontal;
  overflow-y: auto;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
}

.thoughtList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singleThought {
  background-color: rgb(250, 250, 250);
  border: 1px solid black;
  margin: 30px 10px 0;
  padding: 10px;
  box-shadow: 7px 7px;
  font-size: 14px;
  width: 100%;
}

.likeAndTime{ 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btnAndCounter {
  display: flex;
  flex-direction: row;
}

.counter {
  float: left;
  position: relative;
  top: 10px;
  opacity: 0.5;
}

.time {
  position: relative;
  bottom: 5px;
  opacity: 0.5;
}

.likeBtn {
  margin-right: 10px;
  padding: 15px;
  line-height: 0%;
  border-radius: 50%;
  border: none;
}

.likeBtn:hover {
  border: 1px solid gray;
  cursor: pointer;
}
